/*
Theme Name:	TRU Writer
Theme URI:	https://github.com/cogdog/truwriter
Description:	TRU Writer (Child of Radcliffe) is a SPLOT (http://splot.ca/) for rich media writing on the web suitable for essays, magazines, conference session proposals, and more. It creates a place for people to publish in a site without them needing a WordPress account or providing identifying information.
Version:	2.95
Template:	 radcliffe
Author:	CogDog
Author URI:	https://cog.dog
License:	GNU General Public License v2.0 & Apache License 2.0
License URI:	http://www.gnu.org/licenses/gpl-2.0.htm
*/

/* author formatting */
.post-header .theauthor
{
	font-size: 1.2em;
	margin-top: 1em;
	font-style: italic;
	text-align: center;
}

/* center up embedded tweets */

.twitter-tweet-rendered {
    margin-left: auto;
    margin-right: auto;
}

/* hide reading time if using plugin defaults for hooking into content */
.single .post-content .rt-reading-time {
    display: none!important;
}

/* fix to keep archive titles responsive h/t noah mitchell */
.archive .page-title {
    width: 100%;
}

/* This will keep the featured images on index and archive pages to a fixed height */

.posts .post.has-featured-image {
    overflow: hidden;
}

.posts .featured-media {
    max-height: 240px;
}

.comment_instructions {
    margin: 0 0 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #ccc;
    text-align:center;
}

/* --------------------  pretty buttons all done in CSS ---------------------------------
   h/t http://www.graemeboy.com/modern-css-buttons                                     */

.pretty-button, #writerform input.pretty-button
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition-property: background;
	-moz-transition-property: background;
	-o-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	color: #fff;
	text-shadow: none;
	border: 1px #666 solid;
	height: 2em;
	line-height: 2em;
	padding: 0px 0.7em;
	font-weight: 900;
	font-size: 1em;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

/* user actions on the buttons. */
.pretty-button:hover, #writerform input.pretty-button:hover
{
	text-decoration: none;
	color: #ededed;
	border: 1px #666 solid;
}

.pretty-button:active, #writerform input.pretty-button:active
{
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
}

/* The next blocks of code are specific to the color. Copy the color you want. */
.pretty-button-final, #writerform input.pretty-button-final { background: #0971B2; }
.pretty-button-update, #writerform input.pretty-button-update { background: #00B233; }

.pretty-button-update:hover, #writerform input.pretty-button-update:hover {opacity:0.8; }
.pretty-button-final:hover, #writerform input.pretty-button-final:hover { opacity:0.8; }


/* --------------------  alert/message boxes 100% CSS ------------------------------------
  h/t http://aviaryan.github.io/blog/css-notification-bubble-box.html                   */

.symbol
{
	font-size: 0.9em;
	font-family: Times New Roman;
	border-radius: 1em;
	padding: .1em .6em .1em .6em;
	font-weight: bolder;
	color: white;
	background-color: #3229CF;
}

.icon-info { background-color: #3229CF; }

.icon-error
{
	background: #e64943;
	font-family: Consolas;
}

.icon-tick { background: #13c823; }

.icon-excl
{
	background: #ffd54b;
	color: black;
}

.icon-info:before { content: 'i'; }
.icon-error:before { content: 'x'; }
.icon-tick:before { content: '\002713'; }
.icon-excl:before { content: '!'; }

.notify {	background-color: #e3f7fc;
	color: #555;
	border: .1em solid;
	border-color: #8ed9f6;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
	font-weight: 700;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	cursor: default;
	line-height: 1.5;
}

.notify-yellow
{
	background: #fff8c4;
	border-color: #f7deae;
}

.notify-red
{
	background: #ffecec;
	border-color: #fad9d7;
}

.notify-green
{
	background: #e9ffd9;
	border-color: #D1FAB6;
}

/* --------------------           form stuff         ----------------------------------*/

.post-content input[type="text"],
.post-content input[type="tel"],
.post-content input[type="url"],
.post-content input[type="password"],
.post-content textarea
{
	background-color: #ccc;
	color: #333;
}

.post-content input[type="submit"]:hover,
.post-content input[type="reset"]:hover,
.post-content input[type="button"]:hover
{
	background-color: #333;
	color: #fff;

}

.post-content input[type="submit"],
.post-content input[type="reset"],
.post-content input[type="button"], button.wp-switch-editor, #insert-media-button,   span.mce-txt
 {
    font-family: "Open Sans", sans-serif;
}

.post-content input[type="text"]:focus,
.post-content input[type="tel"]:focus,
.post-content input[type="url"]:focus,
.post-content input[type="password"]:focus,
.post-content textarea:focus
{

	background-color: #333;
	color: #fff;
}

form#writerform { padding: 30px 20px; }
.writenew { background-color: #8ed9f6; }
.writedraft { background-color: #D1FAB6; }
.writeoops { background-color: #fad9d7; }

.writestatus
{
	text-align: right;
	left: 80%;
	padding: 4px;
	margin-bottom: 10px;
	font-family: monospace;
	font-weight: 900;
	font-size: 90%;
}

.writestatus .statnow
{
	color: #333;
	font-size: 80%;
}


#writerform .uploader
{
	float: left;
	margin: 0 1.3em 1.3em 0;
}

#writerform fieldset
{
	border: 2px solid #ddd;
	background-color: #eee;
	padding: 1em;
}


#writerform fieldset p
{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1em;
	line-height: 120%;
}

#writerform label {
    font-size: 120%;
    font-weight: 700;
}

#writerform .writerfield {
	width:100%;
	padding:0.5rem;
}

/* -------------------------------  image drop zone ----------------------------------*/


#footlocker {
	display: none;
}

#uploadresponse {
    color: #673ab7;
}

img#headerthumb {
    float: left;
    margin: 0 1em 0 0;
    cursor: pointer;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

#splotdropzone {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 1em 0;
    width: 100%;
    height: 200px;
    border: 3px dashed #999;
    background: url(images/upload-icon.png) no-repeat center 20%, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAH0lEQVQoU2NkIAIwEqGGgfaK/jMwIGyhvXUonibKOgCoygEKFVx9rwAAAABJRU5ErkJggg==) repeat !important;
    cursor: pointer;
}

#splotdropzone input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

#dropmessage {
	width: 100%;
	height: 100%;
	padding-top: 70px;
	text-align: center;
	word-break: break-word;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight:bold;
	color: #333;
}


/* ---------------------- for easy footnotes plugin -----------------------------------*/

ol.easy-footnotes-wrapper {
    margin-top: 8em;
    font-size: 0.8em;
    border-top: 1px #ddd solid;
    padding-top: 1em;
}


/* -------------------- style the autocomplete stuff ----------------------------------*/
/* h/t http://sudarmuthu.com/blog/using-wordpress-built-in-tag-auto-complete-script-in-your-plugins/#comment-644312 */
.ac_results
{
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
	border-width: 1px;
	border-style: solid;
	background-color: white;
}

.ac_results li
{
	padding: 4px 6px;
	white-space: nowrap;
	text-align: left;
}

.ac_over { cursor: pointer; }
.ac_match { text-decoration: underline; }
